<div *ngIf="loading" class="spinner-block">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<mat-card>
  <mat-card-header class="header-page">
    <mat-card-title style="color: #3f51b5;"><h1>Ordenes de Pago</h1></mat-card-title>
  </mat-card-header>
  <mat-list>
    <mat-divider class="dividir"></mat-divider>
  </mat-list>

  <p-growl [(value)]="msgs"></p-growl>

  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <div class="content-form">
      <form class="form-style">

        <p-panel header="Filtros de Busqueda" [toggleable]="true">

          <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-8">

              <div class="ui-g-12 ui-md-6">
              <div class="input-content">
                <label class="label-form">Id Orden de Pago: </label>
                <input pInputText placeholder="Ingrese Id" type="number"
                       name="idOrdenPago" id="idOrdenPago" [(ngModel)]="filtroBusquedaPaymentOrder.idOrdenPago">
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="input-content">
                <label class="label-form">Tipo Orden de Pago</label>
                <p-autoComplete [suggestions]="filteredPaymentOrderType" [dropdown]="true" [(ngModel)]="filtroBusquedaPaymentOrder.tipoOrdenPago"
                                (completeMethod)="filterPaymentOrderType($event)" [size]="50" field="nameChr" name="nameChr"
                                [minLength]="1" placeholder="Seleccione Tipo Orden de Pago">
                  <ng-template let-paymentOrderType pTemplate="item">
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                      <div class="autocomplete-style">{{paymentOrderType.nameChr}}</div>
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div class="input-content">
                <label class="label-form">Estado:</label>
                <p-dropdown [options]="estadoList" [(ngModel)]="filtroBusquedaPaymentOrder.estado"
                            [style]="{'width':'100%'}"
                            placeholder="Seleccione Estado"
                            name="estado"></p-dropdown>
              </div>
            </div>
              <div class="ui-g-12 ui-md-6">
                <div class="input-content">
                  <label class="label-form">Workflow</label>
                  <p-autoComplete [suggestions]="filteredWorkflow" [dropdown]="true" [(ngModel)]="filtroBusquedaPaymentOrder.workflow"
                                  (completeMethod)="filterWorkflow($event)" [size]="50" field="workflownameChr" name="workflownameChr"
                                  [minLength]="1" placeholder="Seleccione Workflow">
                    <ng-template let-workflow pTemplate="item">
                      <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                        <div class="autocomplete-style">{{workflow.workflownameChr}}</div>
                      </div>
                    </ng-template>
                  </p-autoComplete>
                </div>
              </div>

            <div class="ui-g-12 ui-md-6" *ngIf="isSuperCompany()">
              <div class="input-content">
                <label class="label-form">Empresa:</label>
                <p-autoComplete [(ngModel)]="filtroBusquedaPaymentOrder.empresa" [suggestions]="filteredCompany" [dropdown]="true"
                                (completeMethod)="filterCompany($event)" [size]="50" field="companynameChr" name="companynameChr"
                                [minLength]="1" placeholder="Ingrese empresa">
                  <ng-template let-empresa pTemplate="item">
                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                      <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{empresa.companynameChr}}</div>
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>
            </div>
            </div>
            <div class="ui-g-12 ui-md-4">
              <p-fieldset legend="Fecha de Creación">

                <div class="input-content">
                  <label class="label-form">Desde</label>
                  <p-inputMask mask="99/99/9999" name="creationdateTim" [(ngModel)]="filtroBusquedaPaymentOrder.fechaDesde"
                               slotChar="dd/mm/yyyy" ></p-inputMask>

                </div>

                <div class="input-content">
                  <label class="label-form">Hasta </label>
                  <p-inputMask mask="99/99/9999" name="creationdateTim" [(ngModel)]="filtroBusquedaPaymentOrder.fechaHasta"
                               slotChar="dd/mm/yyyy" ></p-inputMask>

                </div>

              </p-fieldset>
            </div>


          </div>

        </p-panel>
        <div style="justify-content: center; display: flex">
          <mat-card-actions style="width: 100%; justify-content: center">
            <button mat-raised-button color="primary" class="boton-style" (click)="onBusqueda()">
              <mat-icon>search</mat-icon>
              <b>Buscar</b>
            </button>
            <button mat-raised-button color="primary" class="boton-style" (click)="reset()">
              <mat-icon>clear</mat-icon>
              <b>Limpiar</b>
            </button>
          </mat-card-actions>
        </div>
      </form>

    </div>
  </mat-card-content>
</mat-card>

<p-dataTable #dt [value]="paymentOrderDt" [rows]="10" [paginator]="false" [responsive]="true" [resizableColumns]="true"
             (onSort)="onSort($event)" [loading]="loading" loadingIcon="fa-spinner">

  <p-column field="idpaymentorderPk" header="Id"></p-column>
  <p-column field="idDraft" header="Borrador"></p-column>
  <p-column field="nombreWorkflow" header="Workflow"></p-column>
  <p-column field="nombreEmpresa" header="Empresa"></p-column>
  <p-column field="nombreTipoOrdenPago" header="Tipo Orden de Pago"></p-column>
  <p-column header="Monto">
    <ng-template let-paymentorder="rowData" let-rindex="rowIndex" pTemplate>
      {{ paymentorder.montoTotal}}
    </ng-template>
  </p-column>
  <p-column field="stateChr" header="Estado"></p-column>
  <!--p-column field="descripcion" header="Descripción"></p-column-->
  <p-column field="creationdateTim" header="Fecha de Creación"></p-column>
  <p-column field="updatedateTim" header="Última Modificación"></p-column>
  <p-column field="updatedatehour" header="Hora de Última Modificación"></p-column>

  <p-column [style]="{'width':'10%'}">
    <ng-template pTemplate="header">
      Acción
    </ng-template>
    <ng-template let-paymentorder="rowData" pTemplate="body">
      <div class="my-center-content">
        <button pButton icon="fa-pencil" style="background-color: #3f51b5;" (click)="navigatePaymentOrderEdit(paymentorder)" *ngIf="modificarOrdenPerm()"></button>
      </div>
    </ng-template>
  </p-column>

  <p-footer>Total de Registros: {{totalRecords}}</p-footer>
</p-dataTable>

<p-paginator rows="10" [totalRecords]="totalRecords" pageLinkSize="1" (onPageChange)="paginate($event)"
             [rowsPerPageOptions]="[10]"></p-paginator>


