<div *ngIf="loading" class="spinner-block">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 50px">
  <carousel>
    <slide>
      <div fxLayout="row"  fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-around center" >
      <mat-card *ngIf="canSeeCreditNum()">
          <mat-card-header class="header-card">
            <mat-card-title>Saldo disponible</mat-card-title>
            <i class="material-icons">
              work
            </i>
          </mat-card-header>
          <mat-card-content>
            {{saldoActual}}
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header class="header-card">
            <mat-card-title>Cantidad de pagos del ultimo mes</mat-card-title>
            <i class="material-icons">
              payment
            </i>
          </mat-card-header>
          <mat-card-content>
            {{infoCompany.totalPayment}}
          </mat-card-content>
        </mat-card>
      <mat-card>
        <mat-card-header class="header-card">
          <mat-card-title>Monto de los pagos del ultimo mes</mat-card-title>
          <i class="material-icons">
            attach_money
          </i>
        </mat-card-header>
        <mat-card-content>
          {{infoCompany.totalAmount}}
        </mat-card-content>

      </mat-card>
        <mat-card>
          <mat-card-header class="header-card">
            <mat-card-title>Fecha del ultimo pago realizado</mat-card-title>
            <i class="material-icons">
              date_range
            </i>
          </mat-card-header>
          <mat-card-content>
            {{infoCompany.lastPaymentDate== null? 'Sin datos':infoCompany.lastPaymentDate | date:"dd/MM/yyyy" }}
          </mat-card-content>
        </mat-card>
      </div>
      <img src="assets/images/tigo/bannercorp.jpg" alt="First slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>

